@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

.btn-lg-black {
  color:#9d9d9d !important ;
  background-color:#000;
  vertical-align:bottom;
  font-weight: bold;
}

.btn-lg-black:hover {
  color: white !important ;
}

.btn-black {
  color:#9d9d9d !important ;
  background-color:#000;
  padding:3px 6px;
  vertical-align:bottom;
  font-weight: bold;
}

.btn-black:hover {
  color: white !important ;
}

.btn-sm-black {
  color:#9d9d9d !important ;
  background-color:#000;
  padding:1px 3px;
  vertical-align:bottom;
  font-weight: bold;
}

.btn-sm-black:hover {
  color: white !important ;
}

footer {
    padding: 50px 0;
    background-color: #222;
    position:fixed;
    bottom:0px;
    padding:10px 0px;
    width:100%;
    z-index:1500;
}

p.copyright {
    margin: 15px 0 0;
}

/***** transcoder.php style *****/

#rule-list-div {
  display:inline-block;
  height:50%;
  width:25%;
  padding:10px;
  overflow:auto;
}

#rule-info {
  display:inline-block;
  height:35%;
  width:40%;
  vertical-align:top;
  background-color:#f5f5f5;
  border-radius:5px;
  margin-left:10px;
  padding:10px;
}

#form-title-div {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.checkbox {
  display: inline-block;
  width: 60%;
  margin: 0px;
}

.mefTitle {
  display: inline-block;
  width: 38.5%;
}

#form-data-container {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}

#form-data {
  display: inline-block;
  height: 94.5%;
  width: 60%;
  overflow: auto;
  font-family: 'Noto Sans TC', sans-serif;
}

#mef-form {
  display: inline-block;
  height: 94.5%;
  width: 38.5%;
  overflow: auto;
  font-family: 'Noto Sans TC', sans-serif;
}

#source-data-container {
  height: 100%;
  padding: 5px;
  display: none;
  overflow-y: auto;
}

#text-data-container {
  height: 100%;
  padding: 5px;
  display: none;
  overflow-y: auto;
}

#log-data-container {
  height: 100%;
  padding: 5px;
  display: none;
  overflow-y: auto;
}

#rule-tab-container{
  height: 100%;
  padding: 5px;
  display: none;
  overflow-y: auto;
}

.lineDiv {
  width:100%;
  white-space: nowrap;
}

.lineNumber {
  width:auto;
  border-bottom:1px solid black;
  border-left:1px solid black;
  padding:2px 3px 2px 3px;
  background-color:#fdbe40
}

.description {
  width:250px;
  padding:2px 3px 2px 3px;
  border-bottom:1px solid black;
  background-color:#dadada;
  font-weight: 500;
}

.mef_description {
  width:200px;
  padding:2px 3px 2px 3px;
  border-bottom:1px solid black;
  background-color:#dadada;
  font-weight: 500;
}


.lineData {
  width:auto;
  padding:2px 3px 2px 3px;
}

.transCode {
  width:auto;
  padding:2px 3px 2px 3px;
  background-color:#8eca62
}

.blankspan {
  width:auto;
  padding:2px 3px 2px 3px;
  background-color:#fdbe40
}

.childdata {
  cursor: pointer;
}

/***** rulelist.php style *****/


/***** ruleeditor.php style *****/

.editor_line_span {
  height:31px;
  display:inline-block;
  padding:5px;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  vertical-align:top;
}

.editor_line_input {
  border:0;
  outline:0;
  background:transparent;
  border-bottom: 1px solid black;
  padding:5px;
}

.arrange_icon {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.arrange_span {
  width:24px;
  height:31px;
  display:inline-block;
  padding:5px;
  cursor:pointer;
  background-color: #222;
  color:#9d9d9d;
}

.arrayge_span:hover {
  background-color: black !important;
  color:white !important;
}

/***** modals.php style *****/

#serverfilelist {
  height:auto;
  min-height:150px;
  max-height:300px;
  overflow-y:scroll;
}

.fileline {
  display: block;
}

.fileline:hover {
  color: #fff;
  background-color: #000000;
  cursor: pointer;
}

.records-container {
  margin-top: 10px;
  height: 350px;
  border:1px solid #cccccc;
  border-radius:5px;
  overflow: auto;
}
